        body {
            font-family: Fira Sans,system-ui,sans-serif; /*Arial, sans-serif;*/
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #0d6282;
            color: #fff;
            text-align: center;
            padding: 0.1em;
        }
        .divheader {
                display: inline-flex;
                width:100%;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #fbbd13;
            color: #000;
        }

        tr:hover {
            background-color: #fbbd13;
        }

        .container {
            text-align: center;
            /*margin: 20px auto;*/
        }
        .filtres {
            text-align: center;
            margin: 2px auto;
        }
        .filtres form {
            text-align: center;
            margin: 2px auto;
            display: inline-flex;
            max-width: 35%;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
        .filtres button {
                font-size:1em;
        }
        #tabMenu {
            border-collapse: collapse;
            width: 60%;
            background-color: #0d6282;
        }

        #tabMenu th, #tabMenu td {
            padding: 5px;
            text-align: left;
            border: 0px solid #ddd;
            border-radius: 50px; /* Coins arrondis */
        }

        #tabMenu th {
            background-color: #fdeaa8;/*fbbd13;*/
            width: 33%;
            margin: 20px auto;
            text-align: center;
        }

        #tabMenu th:hover {
            background-color: #fbbd13; /* Changement de couleur au survol */
        }

        #tabMenu tr {
            background-color: #0d6282;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            font-size: 1.5em;
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea,
        select {
            font-family: Fira Sans,system-ui,sans-serif; /*Arial, sans-serif;*/
            width: 100%;
            padding: 1px;
            margin-bottom: 16px;
            border: 0px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
        }

        .submit {
            font-size: 1.5em;
            width: 100%;
            background-color: #0d6282;
            color: #fff;
            cursor: pointer;
            border: 0px solid #ddd;
            border-radius: 50px; /* Coins arrondis */
        }

        .submit:hover {
            background-color: #fbbd13;
        }
        #filtres {
          position: relative;
          display: inline-flex;
          margin-bottom:0px;
          background: var(--background-select);
          border-radius: 0.25rem;
          overflow: hidden;
          /*font-size:15px;*/
          width:100%;
          font-weight:bold;
          }
        .green {
          background-color: rgb(188 246 209);
                text-align:center;
        }
        .red {
          background-color: rgb(247 207 207);
                text-align:center;
        }
        #benevoles {
                max-width:80%;
        }
        #benevoles table{
                width:100%;
        }
        #benevoles input{
                border: 1px solid #ccc;
                padding: 10px;
                font-size:16px;
        }
        #benevoles label{
                margin-bottom: 1px;
        }
        #tableBenevoles td {
        }
        #logo {
                position:absolute;
                padding-left:2em;
        }
        #dateHeader {
                font-weight: 700;
                font-size: 1.125rem;
                padding-left:80%;
        }

@media only screen and (max-width: 1080px) and (min-width:768px) {
        #logo {
                position:absolute;
                width:5em;
                padding-left:1em;
        }
}
        /* Styles spécifiques pour les smartphones (largeur de l'écran jusqu'à 767px) */
@media only screen and (max-width: 767px) {
        body {
             font-size: 10px;
        }
        th, td {
            padding: 1px;
        }
        #tabMenu {
            border-collapse: collapse;
            width: 100%;
            background-color: #0d6282;
        }
        #sexe {
                width:min(2rem);
                margin-left:1px;
        }
        form {
                padding:5px;
        }
        .divheader img {
                width:80%;
        }
        #logo {
                position:absolute;
                width:5em;
                padding-left:1em;

}
