        body {
            font-family: Fira Sans,system-ui,sans-serif; /*Arial, sans-serif;*/
	    color: white;
            background-color: black;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #0d6e82;
            color: #fff;
            text-align: center;
            padding: 0.1em;
        }

        table {
            width: 35%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: black;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #fbbd13;
            color: #000;
        }

        tr:hover {
            background-color: #fbbd13;
	    color:black;
	    font-weight:bold;
        }

        .container {
            text-align: center;
            margin: 20px auto;
        }
	#tabMenu {
	    border-collapse: collapse;
	    width: 60%;
	    background-color: #0d6282;
	}

	#tabMenu th, #tabMenu td {
	    padding: 5px;
	    text-align: left;
	    border: 0px solid #ddd;
	    border-radius: 50px; /* Coins arrondis */
	}

	#tabMenu th {
	    background-color: #fdeaa8;/*fbbd13;*/
	    width: 33%;
            margin: 20px auto;
    	    text-align: center;
	}

	#tabMenu th:hover {
	    background-color: #fbbd13; /* Changement de couleur au survol */
	}

	#tabMenu tr {
	    background-color: #0d6282;
	}

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: black;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
	table .form {
		padding: 0px;
	}

        label {
	    font-size: 1.5em;
            display: block;
            margin-bottom: 8px;
        }

        input {
		font-size: 50px;
		background-color: black;
		width:max(25rem);
		color: white;
	}
        textarea,
        select {
            font-family: Fira Sans,system-ui,sans-serif; /*Arial, sans-serif;*/
            width: 100%;
            padding: 1px;
            margin-bottom: 16px;
            border: 0px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
        }

	.submit {
	    font-size: 1.5em;
            width: 100%;
            background-color: #0d6282;
            color: #fff;
            cursor: pointer;
	    border: 0px solid #ddd;
	    border-radius: 50px; /* Coins arrondis */
        }
	table .submit {
		padding: 0px;
	}


        .submit:hover {
            background-color: #fbbd13;
        }
	#sexe {
	  position: relative;
	  display: inline-block;
	  margin-bottom:0px;
	  background: var(--background-select);
	  border-radius: 0.25rem;
	  overflow: hidden;
	  font-size:15px;
	  font-weight:bold;
	  }

	/* Styles spécifiques pour les smartphones (largeur de l'écran jusqu'à 767px) */
@media only screen and (max-width: 767px) {
    	body {
             font-size: 10px;
    	}
	th, td {
            padding: 1px;
        }
	#tabMenu {
	    border-collapse: collapse;
	    width: 100%;
	    background-color: #0d6282;
	#sexe {
		width:min(2rem);
	  	margin-left:1px;
	}

}
